@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(./images/bg-intro-mobile.png);
	background-color: hsl(0, 100%, 74%);
}

.container {
	width: 80%;
	margin: auto;
	padding-top: 3.125em;
}

.col1 {
	text-align: center;
	color: hsl(0, 0%, 100%);
}

h1 {
	font-size: 1.375em;
	padding-bottom: 1em;
	line-height: 1.2;
}

.col2--sub {
	background-color: hsl(248, 32%, 49%);
	box-shadow: 0 0.5em hsla(249, 10%, 26%, 0.251);
	border-radius: 0.3125em;
	text-align: center;
	padding: 0.625em 1.25em;
	margin-top: 2.5em;
	margin-bottom: 1.563em;
}

.col2--sub a {
	color: hsl(0, 0%, 100%);
}

#try {
	font-weight: 600;
}

.form--sec {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0.3125em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 1em;
	padding-bottom: 2em;
	margin-bottom: 3em;

	border-radius: 0.3125em;
	box-shadow: 0 0.5em hsla(249, 10%, 26%, 0.251);
}

form {
	width: 90%;
}

input {
	margin: 0.625em auto;
	padding: 0.625em;
	max-width: 100%;
	width: 25em;
}

.form--sec p {
	font-size: 0.6875em;
	text-align: center;
}

button {
	color: hsl(0, 0%, 100%);
	background-color: hsl(154, 59%, 51%);
	border: none;
	border-radius: 0.3125em;
	width: 100%;
	padding: 0.5em 0;
	box-shadow: 0 0.15625em hsla(249, 10%, 26%, 0.251);
	margin: 0.625em auto 1em auto;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
}

button:hover {
	cursor: pointer;
}

button:active {
	background-color: hsl(154, 65%, 65%);
}

#terms {
	color: hsl(0, 100%, 74%);
	font-size: 0.75em;
	font-weight: 700;
}

.attribution {
	font-size: 0.6875em;
	text-align: center;

	margin: 0 auto 3em auto;
	text-align: center;
	width: 70%;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	font-size: 0.6875em;
}

@media (min-width: 376px) {
	body {
		background-image: url(./images/bg-intro-desktop.png);
		background-color: hsl(0, 100%, 74%);
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: 3em;
		color: hsl(0, 0%, 100%);
		line-height: 1;
	}

	.col1 {
		text-align: start;
	}

	.col1 p {
		color: hsl(0, 0%, 100%);
		line-height: 1.5;
	}

	.col {
		width: 100%;
	}

	.col1 + .col2 {
		margin-left: 5%;
	}

	.form--sec {
		background-color: hsl(0, 0%, 100%);
		margin-top: 30px;
		padding: 2.3em 2.3em 3em 2.3em;
		border-radius: 5px;
		box-shadow: 0 8px hsla(249, 10%, 26%, 0.251);
	}

	.form--sec p {
		font-size: 11px;
		text-align: center;
	}

	input {
		width: 100%;
		margin-bottom: 1em;
	}

	button {
		color: hsl(0, 0%, 100%);
		background-color: hsl(154, 59%, 51%);
		border: none;
		border-radius: 5px;
		width: 100%;
		padding: 7px 0;
		box-shadow: 0 2.5px hsla(249, 10%, 26%, 0.251);
		margin-bottom: 10px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
	}
}
